body {
    padding-top: 40px;
}

#header {
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.26, #5B6C7A), color-stop(0.63, #747E87));
    background-image: -moz-linear-gradient(left bottom, #5B6C7A 26%, #747E87 63%);
    background-color: #61707D;
}

div#content {
    padding-top: 3em;
}

#search-form {
    margin-top: 1.8em;
}

#footer {
    font-size: smaller;
    color: #696969;
}

.dashboard-table td {
    vertical-align: middle;
}

td.mymam-dashboard-thumbnail {
    min-width: 100px;
}

td.mymam-dashboard-date,td.mymam-dashboard-button {
    white-space: nowrap;
}

td.mymam-dashboard-filename {
    width: 100%;
}
